# Nodejs and Yarn
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock

# Local development
.env
.env.*
.secrets

# Temporary files
build
coverage
.svelte-kit

# ...and this thing
.DS_Store
