# Nodejs and Yarn
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock

# Local development
.env
.env.*
.secrets
credentials.json
local-saml.pem
local-saml.crt
local-openid.pem
local-openid.pk8.pem
local-openid.pub.pem

# Temporary files
build
coverage
.svelte-kit

# ...and this thing
.DS_Store
