/* Light mode */
body {
	--sb-track-color: #eeeeee;
	--sb-thumb-color: #bbbbbb;
	--sb-size: 8px;
}
body::-webkit-scrollbar {
	width: var(--sb-size);
}
body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 4px;
}
body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 1px;
}
@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		--sb-track-color: #333333;
		--sb-thumb-color: #666666;
		--sb-size: 8px;
	}
	body::-webkit-scrollbar {
		width: var(--sb-size);
	}
	body::-webkit-scrollbar-track {
		background: var(--sb-track-color);
		border-radius: 4px;
	}
	body::-webkit-scrollbar-thumb {
		background: var(--sb-thumb-color);
		border-radius: 4px;
	}
	@supports not selector(::-webkit-scrollbar) {
		body {
			scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
		}
	}
}
